.flex-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 50px 10px;
}
.flex-footer .kuda{
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.flex-footer .text-footer{
  padding-top: 12px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}

.flex-footer .kontact-fle-tel{
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: 2;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}


@media (max-width: 800px) {
  .flex-footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  padding: 50px 10px;
}
}
@media (max-width: 600px) {
  .flex-footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 50px 5px;
  text-align: center;
}
}
@media (max-width: 380px) {
  .flex-footer{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  padding: 50px 5px;
  text-align: center;
}
.flex-footer .kontact-fle-tel{
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
}
}